@model IEnumerable<MO.MVC.ClientSide.Models.mvcMeetingModel>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<p>
    <a href="@Url.Action("AddOrEdit","Meeting")" class="btn btn-default"><i class="fas fa-plus-circle"></i>   Yeni Toplantı Oluştur </a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayName("Toplantı Konusu")
            </th>
            <th>
                @Html.DisplayName("Tarih")
            </th>
            <th>
                @Html.DisplayName("Başlangıç Saati")
            </th>
            <th>
                @Html.DisplayName("Bitiş Saati")
            </th>
            <th>
                @Html.DisplayName("Katılımcılar")
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingTopic)
        </td>

       
    @if (item.MeetingDate != null)
    {
        DateTime dt = (DateTime)item.MeetingDate;
        <td>
            @dt.ToShortDateString()
        </td>
    }
            
       
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Katılımcılar)
        </td>
        <td>
           <a href="@Url.Action("AddOrEdit","Meeting", new { id=item.MeetingID})" class="btn btn-default"><i class="fas fa-pencil-alt"></i>  Bilgileri Düzenle</a>

            <a onclick="Delete(@item.MeetingID)" class="btn btn-default"><i class="fas fa-trash-alt"></i>  Sil </a>

        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(function(){
            var successMessage='@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        function Delete(id){
            alertify.confirm('Meeting Organizer', 'Bu toplantı kaydını silmek istediğinize emin misiniz ?', function () {
                window.location.href = '@Url.Action("Delete","Meeting")/' + id;
            }, null);
        }
    </script>
    }
